INCLUDE options/options.makejail

ARG xrdp_tag=%%TAG1%%
ARG xrdp_ajspec=gh+AppJail-makejails/xrdp

FROM --entrypoint "${xrdp_ajspec}" xrdp:${xrdp_tag}

SYSRC xrdp_enable=YES
SYSRC xrdp_sesman_enable=YES

SERVICE xrdp allstart
